#about_banner_part {
    padding: 150px 0 128px 0;
}

.about_banner {
    margin-right: 50px;


}

.about_banner h6 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #282938;
    padding-bottom: 5px;
    text-transform: capitalize;

}

.about_banner h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    color: #282938;
    text-transform: capitalize;
    padding-bottom: 20px;

}

.about_banner:hover h3 {
    color: #2405F2;
}

.about_banner p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: justify;
    color: #282938;
    opacity: 0.7;

}
.about_banner a{
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #2405F2;
    font-style: normal;
   
   
}
.about_banner_img {
    margin-left: 50px;
    position: relative;
}

.about_banner_img img {
    width: 100%;

}

.about_over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    transition: all linear 0.5s;
}

.about_banner_img:hover .about_over {
    height: 100%;

}

// about_improvement start
.improvement_main {
    padding: 0 40px 0 50px;
    background-color: #F4F5F5;
    align-items: center;
}

.about_improvement_text {
    padding: 43px 0;

}

.about_improvement_text h6 {
    padding-bottom: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #282938;
}

.about_improvement_text h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    color: #282938;
    padding-bottom: 10px;

}

.about_improvement_text p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #282938;
    opacity: 0.7;

}

.improvement {
    padding-right: 20px;
}

.improvement_img {
    background: url(../images/improvement.png) no-repeat center / cover;
    padding: 120px 0;
    width: 100%;
    position: relative;
}

.improvement_over {
    position: absolute;
    width: 100%;
    height: 0%;
    bottom: 0px;
    left: 0;
    background: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    transition: all linear 0.5s;

}

.improvement_img:hover .improvement_over {
    height: 100%;
}

// about_process start
#process {
    padding: 90px 0;
}

.about_process_head h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    color: #282938;
    text-align: center;
}

.prosess_main i {
    color: #2405F2;
    padding-bottom: 16px;
    padding-top: 34px;
}

.prosess_main h6 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #282938;
}

.prosess_main p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #282938;
    opacity: 0.7;
    padding-top: 5px;
}

.prosess_main:hover h6 {
    color: #2405F2;
}

// about_process end
// about_mission start
#about_mission {
    padding: 40px 0;
    background-color: #EEF4FA;
}

.about_main_mission {
    padding: 40px 0;
}

.about_mision_text {
    padding-right: 25px;
    padding-top: 53px;
}

.about_mision_text h6 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #282938;
    padding-bottom: 10px;
}

.about_mision_text h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 56px;
    color: #282938;
    padding-bottom: 10px;
}
.about_mision_text:hover h4{
    color: #2405F2;
}

.about_mision_text p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
    opacity: 0.7;
}

.mission_right {
    margin-right: 50px;
}

.about_mission_img img {
    transition: all linear 0.5s;
    width: 100%;
}

.about_mission_img {
    overflow: hidden;
    position: relative;
}

.about_mission_img:hover img{
    transform: scale(1.3);
}

.mission_img_over{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    transition: all linear 0.5s;
}
.mision_overly{
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
    transition: all linear 0.5s;
}
.about_mission_img:hover .mission_img_over{
width: 100%;
}
.about_mission_img:hover .mision_overly{
width: 100%;
}

// about_mission end
// about_venefits sart
#benefits_part{
padding: 128px 0;

}
.benefits{
    background-color: #F4F6FC;;
}
.about_bene_logo{
    align-items: center;
}
.benefits_cound{
    padding-top: 48px;
}
.benefits_cound span{
    font-size: 30px;
   
}
.benefits_cound h6{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;   
    color: #282938;
    opacity: 0.7;
}

.benefits_logo{
    padding-top: 76px;
    padding-bottom: 22px;
}
// about_venefits end
// about_team_part start
#about_team_part{
    padding: 128px 0;
    background-color: #F4F6FC;;
}

.about_team_head h3{
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 64px;
text-align: center;
color: #282938;
padding-bottom: 48px;
}
.about_team_inner{
    background-color: #ffff;
    text-align: center;
    padding: 48px 0 32px 0;
    border-radius: 10px;
    margin: 0 10px;
}
.about_team_inner h6{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    text-align: center;   
    color: #1D2130;
    padding-top: 23px;
    text-align: center;
}
.about_team_inner p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    
    color: #1D2130;
    
    opacity: 0.7;
    text-align: center;

}

.about_team_images{
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    
}


.about_team_over{
    position: absolute;
    top: 0%;
    left: 50%;
    background: linear-gradient(348.37deg, #5239FA 17.97%, rgba(255, 255, 255, 0) 79.2%);
    width: 168px;
    height: 168px;
transform: translateX(-50% );
border-radius: 50%;
display: flex;
align-items: end;
justify-content: center;
transition: all linear 0.5s;
opacity: 0;
}
.about_team_over i{
color: #fff;
margin: 0 5px;
margin-bottom: 20px;
}
.about_team_inner:hover .about_team_over{
    opacity: 1;
}







// about_team_part end