#read_blog_part{
    padding: 158px 0 48px 0;
}
.read_blog_content h4{
font-size: 35px;
font-weight: 600;
line-height: 46px;
color: #282938;

}
// read_blog_lorem
#read_blog_lorem{
    padding-bottom:100px ;
}
.read_blog_content p{
font-size: 15px;
font-weight: 400;
line-height: 28px;
color: #282938;
opacity: 0.7;
padding-top: 27px;
padding-bottom: 20px;
}
.read_blog_content p span{
color: #2405F2;
}
.read_blog_content ul li{
font-size: 16px;
font-weight: 400;
line-height: 28px;
color: #282938;
opacity: 0.7;
padding-bottom: 12px;
}
.read_blog_images{
    padding-bottom:56px ;
}
